@page
@model AutoWorld.Pages.Cars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.ID" />
            <div class="form-group">
                <label asp-for="Car.brand" class="control-label"></label>
                <input asp-for="Car.brand" class="form-control" />
                <span asp-validation-for="Car.brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.model" class="control-label"></label>
                <input asp-for="Car.model" class="form-control" />
                <span asp-validation-for="Car.model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.fuel" class="control-label"></label>
                <input asp-for="Car.fuel" class="form-control" />
                <span asp-validation-for="Car.fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.year" class="control-label"></label>
                <input asp-for="Car.year" class="form-control" />
                <span asp-validation-for="Car.year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.price" class="control-label"></label>
                <input asp-for="Car.price" class="form-control" />
                <span asp-validation-for="Car.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                               int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                 if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                 }
                                     @:<td>
                                     <input type="checkbox"
                                       name="selectedCategories"
                                        value="@cat.CategoryID"
                                        @(Html.Raw(cat.Assigned ?
                                            "checked=\"checked\"" : "")) />
                                             @cat.CategoryID @: @cat.Name
                                     @:</td>
                                   }
                                     @:</tr>
                                }
                         </table>
                        </div>
                     </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
